/* ==========================================================================
FOOTER CSS
========================================================================== */
.footer_wrap {
    background:#3b3b3b;
    color: #fff;
	padding: 10px 0;
}
.footer_wrap p {
    color: #fff;
    margin: 0;
    padding: 0;
}